

<li>
    <button type="button" class="btn btn-@ColorStyle waves-effect btn-label waves-light">
        @ChildContent @Title
    </button>
</li>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public BSColorStyle ColorStyle { get; set; }

    [Parameter]
    public string ExtraStyle { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }


}
