@* 
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @Title
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
 *@
<div class="dropdown">
    <button class="btn btn-primary waves-effect waves-light dropdown-toggle me-2" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @Title
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}
